{% extends 'main/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <div id="task-form">
        <form action="" id="new-task-form" method="post">
            {% csrf_token %}

            {{ form }}
            <button type="submit" class="complete-task">Добавить задачу</button>
        </form>
    </div>
    <div>
        {% for t in tasks %}
        <div class="task"><div class="text-task">{{ t.text }}</div><a href="{% url 'complete_task' t.id %}"><button class="complete-task">Задача выполнена</button></a></div>
        {% endfor %}
    </div>
{% else %}

    <div class="normal-text">Для просмотра и добавления новых задач необходимо авторизироваться</div>

{% endif %}

{% endblock %}